.grid_dis {
	background-color: white;
	display: grid;
	grid-template-columns: 15fr 10fr 10fr 10fr 10fr 10fr 10fr 25fr;
	grid-template-rows: auto ;
	grid-gap: 10px;


}
.left-side {
	background-color: ;
	grid-column: 1/2;
	padding: 2%;
	text-align: center;
	grid-template-rows: auto ;

	margin-left: 10px;


}

.right-side {
	grid-column: 8/9;
	background-color: ;
	padding: 2%;
	grid-template-rows: auto ;
	margin-right: 10px;

}
.center-side {
	grid-column: 2/8;
	background-color: ;
	padding: 2%;
	grid-template-rows: auto ;

}
.center_video {
	grid-column: 2/5;
	padding: 2%;
}
.center_video_text {
	grid-column: 5/8;
	padding: 2%;
}